{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All in one online shop</title>
    <link rel="stylesheet" href="{% static 'custom_loggin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'custom_loggin/css/style.css' %}">
    </head>
<body>
<div class="container">
    {% block body %}
    {% endblock %}
</div>
<script src="{% static 'custom_loggin/js/jquery-3.2.1.slim.min.js' %}" ></script>
<script src="{% static 'custom_loggin/js/popper.min.js' %}" ></script>
<script src="{% static 'custom_loggin/js/bootstrap.min.js' %}" ></script>
</body>
</html>