{% extends 'cart/base.html' %}    
{% block body %}

<section class="vh" style="background-color: hsl(240, 100%, 90%)">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col">
      <p>
        <h3 class="text-center"><strong>Shopping Cart</strong></h3>
        <h6 class="text-center">(1 item in your cart)</h6>
      </p> 
      {% if cart_products %}
      {% for product in cart_products %} 
    <div class="container" > 
      <div class="card mb-4" style="background-color: hsl(240, 0%, 90%)">
        <div class="card-body p-4">
          <div class="row align-items-center">
            <div class="col-md-2">
              
              <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." class="img-fluid" alt="Generic placeholder image">
            </div>

      <div class="col-md-2 d-flex justify-content-center">
        <div>
          <h5 class="card-title">{{ product.name }}</h5>
          <br/>
          <p class="card-text justified">{{ product.description }}</p>
        </div>
      </div>

      <div class="col-md-2 d-flex justify-content-center">
        <div>
          <p class="small text-muted mb-4 pb-2">Color</p>
          <p class="lead fw-normal mb-0">
          <i class="fas fa-circle me-2" style="color: #fdd8d2;"></i>
          pink rose</p>
        </div>
      </div>

      <div class="col-md-2 d-flex justify-content-center">
        <div>
          <p class="small text-muted mb-4 pb-2">Quantity</p>
          {% for key, value in quantities.items %}
            {% if key == product.id|slugify %}
              <option selected>{{ value }}</option>
            {% endif %}
          {% endfor %}
        </div>
      </div>


      <td class="align-middle border-bottom-1">
        <p class="mb-0" style="font-weight: 500;">tedad</p>
      </td>
      <td class="align-middle border-bottom-0">
        <div class="d-flex flex-row">

          <button class="btn btn-link px-1 " 
            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
            <i class="fas fa-minus"> - </i>
          </button>

      <input id="select{{product.id}}" min="0" max="5" name="quantity" value="1" type="number"
        class="form-control form-control-sm" style="width: 50px;" />

      <button class="btn btn-link px-1"
        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
        <i class="fas fa-plus"> + </i>
      </button>
        </div>
      </td>

<!-- Product price-->
  {% if product.in_sale %}
    <div>
      <p class="small text-muted mb-1 pb-0"> Price </p>
        <strike> ${{ product.price }} </strike>
        &nbsp;   ${{ product.sale_price }}
  {% else %}
      <p class="small text-muted mb-1 pb-0">Price</p>        
        ${{ product.price }}
  {% endif %}
    </div>
<br/><br/>

      <div class="d-flex justify-content-end">
        <a href="{% url 'product_list'%}" class="btn btn-primary">Go for more shoping ...</a>
        <button type="button" data-index="{{product.id}}" class="delete-product">Delete Product</button>
        <button type="button" data-index="{{product.id}}" class="update-cart">Update Cart</button>
      </div>
  
    </div>
   </div>
 </div>

{% endfor %}

</section>


<div class="card mb-5">
  <div class="card-body p-4">
    <div class="float-top">
      <p class="mb-0 me-5 d-flex align-items-center" >
       <span class="small text-muted me-3" >Order total:</span>
       <span class="lead fw-normal">{{ totals }}</span>
      </p>
    </div>
  </div>
</div>

<br/><br/><br/>
{% else %}
There's Nothing In Your Cart...
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endif %}
</div>




<script>
// Update Cart

$(document).on('click', '.update-cart', function(e){
  e.preventDefault();
  var productid = $(this).data('index');

  $.ajax({
      type: 'POST',
      url: '{% url "cart_update" %}' ,
      data: {
          product_id: $(this).data('index'),
          product_qty: $('#select' + productid).val(),
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post'
      },
      success: function(json){
          $('#cart_quantity').text(json.qty);
          location.reload();
      },
      error: function(xhr, errmsg, err){
          console.error(error);
      }
  });
});


// Delete Item From Cart

$(document).on('click', '.delete-product', function(e){
e.preventDefault();


$.ajax({
type: 'POST',
url: '{% url 'cart_delete' %}',
data: {
product_id: $(this).data('index'),
csrfmiddlewaretoken: '{{ csrf_token }}',
action: 'post'
},
success: function(json){
location.reload();
},

error: function(xhr, errmsg, err){

}


});

})




</script>


{% endblock %}