@font-face {
    font-family: "vazir";
    src: url('/fonts/vazir.ttf') format('truetype');
}

body {
    font-family: "vazir";
    background-color: azure;
}

.hiden {
    display: none;
}

.color1 {
    background-color: #ff3333;
}

.color3 {
    background-color: rgb(71, 67, 67);
}

li {
    list-style-type: none;
}

.carousel-item img {
    width: 50%; 
    height: 300px; 
    object-fit: cover;
}
.category-container {
    margin: 20px;
}

.category {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.category a:hover {
    color: #555;
}