{%  extends 'products/base.html' %}
{% block body %}
<!-- Header-->
<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">درباره ما</h1>
            <p class="lead fw-normal text-white-50 mb-0">خرید کالا با کیفیت و اورجینال با قیمت به صرفه</p>
        </div>
    </div>
</header>
<div class="container px-4 px-lg-5 my-5">
<h2> :راه های ارطبات </h2>
</div>
    <div class="row">
        <div class="col-md-6">    
          <ul>
            <li><strong>ایمیل:</strong> {{ user.mobile }}</li>
            <li><strong>شماره تماس پشتیبانی:</strong>09102739875 </li>
            <li><strong>ادرس:</strong>   تهران-نارمک-میدان نبوت-خیابان گلبرگ شرقی </li>
            <li><strong> واتساپ:</strong>    </li>
            <li><strong>تلگرام:</strong>    </li>
            <li><strong>  پیج اینستاگرام:</strong>    </li>
            <br/><br/><br/><br/>
            
          </ul>
        </div>    


{% endblock %}