<!--this is the up 
of the footer that 
shows some photoes 
and you can use it 
as BRANDS logo for 
showing which brands 
are in your site-->
<footer>

<div class="bg-body-tertiary text-center">
    <div class="container p-4">
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/111.webp" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/112.webp" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/114.webp" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
         <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/115.webp" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
         </div>
         <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/116.webp" class="w-100" />
              <a href="#!">
         <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
        </a>
      </div>
     </div>
    </div>
</section>   
</div>     
</div>
<section class="">
    <div>  
        <a href="" class="me-4 text-reset"><i class="fab fa-facebook-f"></i></a>
        <a href="" class="me-4 text-reset"><i class="fab fa-twitter"></i></a>
        <a href="" class="me-4 text-reset"><i class="fab fa-google"></i></a>
        <a href="" class="me-4 text-reset"><i class="fab fa-instagram"></i></a>
        <a href="" class="me-4 text-reset"><i class="fab fa-linkedin"></i></a>
        <a href="" class="me-4 text-reset"><i class="fab fa-github"></i></a>
    </div>
</section>
<section class="">
    <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>T & K
            </h6>
            <p>
              T&K the best shopping site in iran that you can use it safe fast and sequire
            </p>
          </div>
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">Products</h6>
        <p><a href="#!" class="text-reset">w</a></p>
        <p><a href="#!" class="text-reset">x</a></p>
        <p><a href="#!" class="text-reset">y</a></p>
        <p><a href="#!" class="text-reset">z</a></p>
    </div>
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
        <p><a href="#!" class="text-reset">Pricing</a></p>
        <p><a href="#!" class="text-reset">Settings</a></p>
        <p><a href="#!" class="text-reset">Orders</a></p>
        <p><a href="#!" class="text-reset">Help</a></p>
    </div>
</footer>
<!-- Facebook -->
<a class="btn text-white" data-mdb-ripple-init style="background-color: #3b5998;" href="#!" role="button">
    <i class="fab fa-facebook-f"></i>
  </a>
  
  <!-- Instagram -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #ac2bac;" href="#!" role="button">
    <i class="fab fa-instagram"></i>
  </a>
  
  <!-- Linkedin -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #0082ca;" href="#!" role="button">
    <i class="fab fa-linkedin-in"></i>
  </a>
  
  <!-- Youtube -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #ed302f;" href="#!" role="button">
    <i class="fab fa-youtube"></i>
  </a>
  <!-- Github -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #333333;" href="#!" role="button">
    <i class="fab fa-github"></i>
  </a>
  <!-- Whatsapp -->
  <a class="btn text-white" data-mdb-ripple-init style="background-color: #25d366;" href="#!" role="button">
    <i class="fab fa-whatsapp"> Whatsapp</i>
  </a>
<!-- Copyright -->
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">© 2020 Copyright:
    <a class="text-body" href="http://127.0.0.1:8000/">kharidTAk.com</a>
</div>
