<!--homepage-->
{% extends 'products/base.html' %}    
{% block body %}
<body>   
<header>   
    <!--slides-->
    <div class="container px-3 px-lg-9 mt-9">
        <div class="row  justify-content-center ">
            <div class="col-sm-12 bg-light col-md-8 mt-5">
                <div id="carouselExampleCaptions" class="carousel slide" >
                    
                    <!--dokme haye slide-->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    </div>

                    <!--SLIDES-->
                    <div class="carousel-inner">
                        {% for product in products %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ product.image.url }}" class="d-block w-100" style="width: 100%; flex: 1; object-fit: cover;" alt="{{ product.name }}">
                    
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ product.name }}</h5>
                                <p>{{ product.price }}</p>
                                <a class="btn btn-outline-light mt-auto" href="{% url 'product_detail' product.pk  %}">مشخصات</a>
                            </div> 
                        </div>
                        {% endfor %}
                    </div>

                    <!--dokme haye ro khode slide-->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Section-->
<section class="py-3">
    <div class="container px-3 px-lg-3 mt-3">
        <div class="row gx-3 gx-lg-5 row-cols-6 row-cols-md-3 row-cols-xl-4 ">                   
            <!-- loaaaaaaaaadiiiiiiiing produccccccts liiiiiiiiiiiisssssssst + sale products-->
            {% for product in products %}
            {% if product.in_sale %} 
            {{ product.is_sale }} 
                <div class="col mb-5">
                    <div class="card h-90">
                        <!-- Sale badge-->
                        <div class="badge bg-light text-black position-absolute" style="top: 0.5rem; right: 0.5rem">takhfif</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" />
                                <!-- Product details-->
                                <div class="card-body p-3">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ product.name }}</h5>
                                        <!-- Product price-->
                                        <strike> {{ product.price }} </strike>
                                        تومان {{ product.sale_price}}
                                    </div>
                                </div>
                   
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product_detail' product.pk  %}">مشخصات</a></div>
                        </div>
                </div>
        </div>
{% else %}
        <div class="col mb-5">
            <div class="card h-100">                                  
                <!-- Product image-->
                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{ product.name }}</h5>
                        <!-- Product price-->
                        تومان {{ product.price }} 
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product_detail' product.pk  %}">مشخصات</a></div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
                        
                        
        </div>
    </div>

</section>
<div class="py-5">
    <span class="step-links">
        {% if products.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}
            
        <span class="current"> Page {{ products.number }} of {{ products.paginator.num_pages }}.</span>
            
        {% if products.has_next %}
        <a href="?page={{ products.next_page_number }}">next</a>
        <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

</body>
{% endblock %}
