{% load static %}

<nav class="navbar navbar-expand-md color1">
    <div class="container-fluid">
        <!-- logo -->
        <a class="navbar-brand" href="{% url "product_list" %}"> <img class="" src="{% static 'products/img/TKlogo.jpg' %}" style="width: 160px; height: 50px;" alt="TAKKHARID"></a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-1 mb-0 mx-auto text-center">

                <!-- daste bandi -->
                <li class="nav-item dropdown">
                    <a id="kia" class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-menu-button-wide"></i>
                        دسته بندی کالا
                    </a>
                    
                    <ul class="dropdown-menu color1 text-center" id="freeze" >
                    {% for category in categories %}
                        <li><a class="dropdown-item text-dark bg-white" href="#">{{category.name}}</a></li>                        
                    {% endfor %}
                    </ul>
                </li>

                <!-- other navbar options -->
                <li class="nav-item">
                    <a style="text-decoration: none;" href="#" class="nav-link text-white">
                        <i class="bi bi-fire "></i>پرفروش ها
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration: none;" href="#" class="nav-link text-white">
                        <i class="bi bi-percent "></i> تخفیف خورده
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration: none;" href="#" class="nav-link text-white">
                        <i class="bi bi-threads "></i> درباره با ما
                    </a>
                </li>
            </ul>

            

            <!-- user account -->
            
                    {% if user.is_authenticated %}
                    
                    <div class="nav-item dropdown d-flex justify-content-between">

                        <!-- search.html -->
                        <div class="nav-item d-flex ">
                            <div id="btnsearchhd" class="">
                                <i class="bi bi-search activate h4 f-bold text-white mx-2"></i>
                            </div>

                        </div>

                        <a class="btn btn-light btn-sm dropdown-toggle mx-1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            حساب کاربری
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item text-black" href="{% url "dashboard" %}">داشبورد</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item text-black" href="{% url "logout_view" %}">خروج از حساب کاربری</a></li>
                            <li><a class="dropdown-item text-black" href="{% url "update_user" %}"> ادیت پروفایل </a></li>
                            <li><a class="dropdown-item text-black" href="{% url 'update_info'  %}">User Info</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <button type="button" class="btn btn-light mx-2"><a class="dropdown-item" href="{% url "register_view" %}"> ورود | ثبت نام</a></button>
                    {% endif %}
                </li>
                <!-- shopping cart -->
                <li class="nav-item">
                    <button type="button" class="btn btn-light btn-sm" onclick="location.href='{% url 'cart_summary' %}'">
                        <i class="bi bi-cart fw-bold activate" style="font-size: 0.875rem;"></i>
                        <span class="badge bg-light text-dark ms-2 rounded-pill" style="font-size: 0.8rem;">{{ cart|length }}</span>
                    </button>

        </div>
    </div>
</nav>


<div class="container">
    <div class="row text-center justify-content-center">
<div class="color1 mx-1">
    <form id="btnsearch" class="hiden" role="search" action="{% url 'search' %}" method="GET">
        {% csrf_token %}
        <input class="form-control d-none d-md-block mb-2" name="query" type="search" placeholder=" جست و جو " aria-label="Search">                            
    </form>
</div>
</div>
</div>