{% extends 'custom_loggin/base.html' %}
{% block productslist %}

{% if user.is_authenticated %}
  
<h1>
  {% if category %}
        {{ category.name }}
  {% else %}
        All Products
  {% endif %}
</h1>

  <div class="row">
    {% for product in products %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
          <div class="card-body">
            <h4 class="card-title">{{ product.name }}</h4>
            <p class="card-text">{{ product.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <span class="text-muted">${{ product.price }}</span>
              <a href="{% url 'product_detail' id=product.id slug=product.slug %}" class="btn btn-sm btn-outline-secondary">View Details</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
            <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
  
{% endif %}

{% endblock %}






